body {
    width: 83em;
    background-image: url("images/background2.jpg");
    background-size: cover;
    background-attachment: fixed;
}
#name {
    font-size: 4em;
    font-family: ArcadeClassic;
    display: inline;
    float: top;
    margin-left: 35%;
}
#name a {
    text-decoration: none;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    float:left;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 3.20em;
    text-decoration: none;
    font-family: ArcadeClassic;
    font-size: 1.4em;
}
li a:hover {
    background-color:#ff0c15;
}
li a:active {
    background-color: yellow;
}
#current a {
    color: yellow;
}
#fb-button {
    display: inline;
    float: left;
    margin-top: 2em;
}
hr{
    width:100%;
    margin-top: -2em;
}
h2 {
    color: white;
    font-family: ArcadeClassic;
    font-size: 3.5em;
    margin-top: 2em;
    text-align: center;
}
p {
    color: white;
    display: inline;
    font-family: Jura;
    font-size: 1.2em;

}
#hora {
    float: left;
    margin: 1.5em;
}
.video-cell {
    margin: 3em;
    list-style-type: none;
}


a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #27AE61 url("images/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.simple-back-to-top{
	position:fixed;
	left:1300px;
	top:600px;
	text-decoration:none;
}
