body {
    width: 83em;
    background-image: url("images/background2.jpg");
    background-size: cover;
    background-attachment: fixed;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    float:left;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 3.20em;
    text-decoration: none;
    font-family: ArcadeClassic;
    font-size: 1.4em;
}
li a:hover {
    background-color:#ff0c15;
}
li a:active {
    background-color: yellow;
}
button {
    color: white;
    text-align: center;
    font-family: ArcadeClassic;
    font-size: 1.4em;
    background-color: #333;
}
hr{
    width:100%;
    margin-top: -2em;
}
h2 {
    color: white;
    font-family: ArcadeClassic;
    font-size: 3.5em;
    margin-top: 2em;
    text-align: center;
}
h3 {
    color: white;
    font-family: ArcadeClassic;
    font-size: 2.5em;
}
p {
    color: white;
    display: inline;
    font-family: ArcadeClassic;
    font-size: 1.2em;

}
#name {
    font-size: 4em;
    font-family: ArcadeClassic;
    display: inline;
    float: top;
    margin-left: 35%;
}
#name a {
    text-decoration: none;
    color: white;
}
#hora {
    float: left;
    margin: 1.5em;
}
#current a {
    color: yellow;
}
#fb-button {
    display: inline;
    float: left;
    margin-top: 2em;
}
.video-cell {
    margin: 3em;
    list-style-type: none;
}
.game-description {
    text-align: center;
    display: block;
}
.game-title {
    text-align: center;
}
.wrapper {
    text-align: center;
}